# Data wrangling with Pandas

The Pandas library provides a helpful and efficient framework to process and visualize (large) datasets.
This tutorial introduces some key features of the pandas library. It is based on ["10 minutes to pandas"](https://pandas.pydata.org/docs/user_guide/10min.html).

If you don't yet have the pandas library for python installed, you can do so by executing the following cell (note you only need to do this once -- after the installation completes, then you just need to import the library)

In [1]:
#!pip install pandas

In [2]:
# once you have installed pandas, you can import it
# (along with numpy, which we will also be using)
import pandas as pd
import numpy as np

# Basic data structures in pandas
Pandas provides two types of classes for handling data:
1) [Series](https://pandas.pydata.org/docs/reference/api/pandas.Series.html#pandas.Series): a one-dimensional labeled array holding data of any type such as integers, strings, Python objects etc.
2) [DataFrame](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html#pandas.DataFrame): a two-dimensional data structure that holds data like a two-dimension array or a table with rows and columns

Very loosely, a DataFrame is like a spreadsheet, with rows and columns, and a Series is like a single row or column from the DataFrame.

For more information, see the [Intro to data structures](https://pandas.pydata.org/docs/user_guide/dsintro.html#dsintro) page.

# Object creation
For now, we'll make a Series by passing a list of values, and letting pandas create a default RangeIndex.

In [5]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Create a DataFrame by passing a NumPy array with a datetime index using [date_range()](https://pandas.pydata.org/docs/reference/api/pandas.date_range.html#pandas.date_range) and labeled columns:

In [9]:
dates = pd.date_range("20130101", periods=6)
print(dates)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
print(df)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2013-01-01  0.868041  0.765521  1.203896 -0.289534
2013-01-02 -1.355337 -1.505254  1.107716  0.290962
2013-01-03  0.696928 -0.975911  0.552442 -0.456752
2013-01-04  1.562931  0.146626  1.408109 -0.360058
2013-01-05  1.271892  0.700961  0.827734  0.866680
2013-01-06  0.938209  0.977442 -0.648565  0.568262

Create a DataFrame by passing a dictionary of objects where the keys are the column labels and the values are the column values.

In [11]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
print(df2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

The columns of the resulting DataFrame have different [dtypes](https://pandas.pydata.org/docs/user_guide/basics.html#basics-dtypes):

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

# Viewing data
For more details, see the [Essentially basics functionality section](https://pandas.pydata.org/docs/user_guide/basics.html#basics).

Use [DataFrame.head()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html#pandas.DataFrame.head) and [DataFrame.tail()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.tail.html#pandas.DataFrame.tail) to view the top and bottom rows of the frame respectively:

In [13]:
df.head(3)

                   A         B         C         D
2013-01-01  0.868041  0.765521  1.203896 -0.289534
2013-01-02 -1.355337 -1.505254  1.107716  0.290962
2013-01-03  0.696928 -0.975911  0.552442 -0.456752

In [14]:
df.tail(2)

                   A         B         C         D
2013-01-05  1.271892  0.700961  0.827734  0.866680
2013-01-06  0.938209  0.977442 -0.648565  0.568262

Display the [DataFrame.index](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.index.html#pandas.DataFrame.index) or [DataFrame.columns](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.columns.html#pandas.DataFrame.columns):

In [15]:
print(df.index)
print(df.columns)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
Index(['A', 'B', 'C', 'D'], dtype='object')

Return a NumPy representation of the underlying data with [DataFrame.to_numpy()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_numpy.html#pandas.DataFrame.to_numpy) without the index or column labels:

In [16]:
df.to_numpy()

array([[ 0.86804107,  0.76552056,  1.20389627, -0.2895343 ],
       [-1.35533721, -1.50525379,  1.10771554,  0.290962  ],
       [ 0.69692845, -0.9759113 ,  0.55244194, -0.45675217],
       [ 1.56293119,  0.14662568,  1.40810947, -0.36005842],
       [ 1.27189231,  0.70096087,  0.82773443,  0.86667986],
       [ 0.93820944,  0.97744211, -0.64856528,  0.56826188]])

In [17]:
df

                   A         B         C         D
2013-01-01  0.868041  0.765521  1.203896 -0.289534
2013-01-02 -1.355337 -1.505254  1.107716  0.290962
2013-01-03  0.696928 -0.975911  0.552442 -0.456752
2013-01-04  1.562931  0.146626  1.408109 -0.360058
2013-01-05  1.271892  0.700961  0.827734  0.866680
2013-01-06  0.938209  0.977442 -0.648565  0.568262

NOTE: NumPy arrays have one dtype for the entire array while pandas DataFrames have one dtype per column. When you call DataFrame.to_numpy(), pandas will find the NumPy dtype that can hold all of the dtypes in the DataFrame. If the common data type is object, DataFrame.to_numpy() will require copying data.

In [18]:
print(df2.dtypes)
df2.to_numpy()

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

[describe()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html#pandas.DataFrame.describe) shows a quick statistic summary of your data:

In [19]:
print(df.describe())

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.663778  0.018231  0.741889  0.103260
std    1.036652  1.026690  0.744010  0.550787
min   -1.355337 -1.505254 -0.648565 -0.456752
25%    0.739707 -0.695277  0.621265 -0.342427
50%    0.903125  0.423793  0.967725  0.000714
75%    1.188472  0.749381  1.179851  0.498937
max    1.562931  0.977442  1.408109  0.866680

Transposing your data:

In [20]:
print(df.T)

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.868041   -1.355337    0.696928    1.562931    1.271892    0.938209
B    0.765521   -1.505254   -0.975911    0.146626    0.700961    0.977442
C    1.203896    1.107716    0.552442    1.408109    0.827734   -0.648565
D   -0.289534    0.290962   -0.456752   -0.360058    0.866680    0.568262

[DataFrame.sort_index()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_index.html#pandas.DataFrame.sort_index) sorts by an axis:

In [21]:
df.sort_values(by="B")

                   A         B         C         D
2013-01-02 -1.355337 -1.505254  1.107716  0.290962
2013-01-03  0.696928 -0.975911  0.552442 -0.456752
2013-01-04  1.562931  0.146626  1.408109 -0.360058
2013-01-05  1.271892  0.700961  0.827734  0.866680
2013-01-01  0.868041  0.765521  1.203896 -0.289534
2013-01-06  0.938209  0.977442 -0.648565  0.568262

# Selection

See the indexing documentation [Indexing and Selecting Data](https://pandas.pydata.org/docs/user_guide/indexing.html#indexing) and [MultiIndex / Advanced Indexing](https://pandas.pydata.org/docs/user_guide/advanced.html#advanced).

## Getitem ( `[]` )
For a DataFrame, passing a single label selects a columns and yields a Series equivalent to `df.A`:

In [22]:
print(df["A"])

2013-01-01    0.868041
2013-01-02   -1.355337
2013-01-03    0.696928
2013-01-04    1.562931
2013-01-05    1.271892
2013-01-06    0.938209
Freq: D, Name: A, dtype: float64

For a DataFrame, passing a slice : selects matching rows:

In [23]:
print(df[0:3])
print(df["20130102":"20130104"])

                   A         B         C         D
2013-01-01  0.868041  0.765521  1.203896 -0.289534
2013-01-02 -1.355337 -1.505254  1.107716  0.290962
2013-01-03  0.696928 -0.975911  0.552442 -0.456752
                   A         B         C         D
2013-01-02 -1.355337 -1.505254  1.107716  0.290962
2013-01-03  0.696928 -0.975911  0.552442 -0.456752
2013-01-04  1.562931  0.146626  1.408109 -0.360058

## Selection by label
See more in [Selection by Label](https://pandas.pydata.org/docs/user_guide/indexing.html#indexing-label) using DataFrame.loc() or DataFrame.at().

Selecting a row matching a label:

In [24]:
print(df.loc[dates[0]])

A    0.868041
B    0.765521
C    1.203896
D   -0.289534
Name: 2013-01-01 00:00:00, dtype: float64

Selecting all rows (`:`) with a select column labels:

In [25]:
print(df.loc[:, ["A", "B"]])

                   A         B
2013-01-01  0.868041  0.765521
2013-01-02 -1.355337 -1.505254
2013-01-03  0.696928 -0.975911
2013-01-04  1.562931  0.146626
2013-01-05  1.271892  0.700961
2013-01-06  0.938209  0.977442

For label slicing, both endpoints are included:

In [26]:
print(df.loc["20130102":"20130104", ["A", "B"]])

                   A         B
2013-01-02 -1.355337 -1.505254
2013-01-03  0.696928 -0.975911
2013-01-04  1.562931  0.146626

Selecting a single row and column label returns a scalar:

In [27]:
print(df.loc[dates[0], "A"])

0.86804106583384

For getting fast access to a scalar (equivalent to the prior method):

In [28]:
print(df.at[dates[0], "A"])

0.86804106583384

## Selection by position
See more in [Selection by Position](https://pandas.pydata.org/docs/user_guide/indexing.html#indexing-integer) using `DataFrame.iloc()` or `DataFrame.iat()`.

Select via the position of the passed integers:

In [29]:
print(df.iloc[3])

A    1.562931
B    0.146626
C    1.408109
D   -0.360058
Name: 2013-01-04 00:00:00, dtype: float64

Integer slices acts similar to NumPy/Python:

In [30]:
print(df.iloc[3:5, 0:2])

                   A         B
2013-01-04  1.562931  0.146626
2013-01-05  1.271892  0.700961

Lists of integer position locations:

In [31]:
print(df.iloc[[1, 2, 4], [0, 2]])

                   A         C
2013-01-02 -1.355337  1.107716
2013-01-03  0.696928  0.552442
2013-01-05  1.271892  0.827734

For slicing rows explicitly:

In [32]:
print(df.iloc[1:3, :])

                   A         B         C         D
2013-01-02 -1.355337 -1.505254  1.107716  0.290962
2013-01-03  0.696928 -0.975911  0.552442 -0.456752

For slicing columns explicitly:

In [33]:
print(df.iloc[:, 1:3])

                   B         C
2013-01-01  0.765521  1.203896
2013-01-02 -1.505254  1.107716
2013-01-03 -0.975911  0.552442
2013-01-04  0.146626  1.408109
2013-01-05  0.700961  0.827734
2013-01-06  0.977442 -0.648565

For getting a value explicitly:

In [34]:
print(df.iloc[1, 1])

-1.505253789342703

For getting fast access to a scalar (equivalent to the prior method):

In [35]:
print(df.iat[1, 1])

-1.505253789342703

## Boolean indexing

Select rows where `df.A` is greater than `0`.

In [36]:
print(df[df["A"] > 0])

                   A         B         C         D
2013-01-01  0.868041  0.765521  1.203896 -0.289534
2013-01-03  0.696928 -0.975911  0.552442 -0.456752
2013-01-04  1.562931  0.146626  1.408109 -0.360058
2013-01-05  1.271892  0.700961  0.827734  0.866680
2013-01-06  0.938209  0.977442 -0.648565  0.568262

Selecting values from a DataFrame where a boolean condition is met:

In [38]:
print(df[df > 0])

                   A         B         C         D
2013-01-01  0.868041  0.765521  1.203896       NaN
2013-01-02       NaN       NaN  1.107716  0.290962
2013-01-03  0.696928       NaN  0.552442       NaN
2013-01-04  1.562931  0.146626  1.408109       NaN
2013-01-05  1.271892  0.700961  0.827734  0.866680
2013-01-06  0.938209  0.977442       NaN  0.568262

Using [isin()](https://pandas.pydata.org/docs/reference/api/pandas.Series.isin.html#pandas.Series.isin) method for filtering:

In [42]:
df2 = df.copy()
df2["E"] = ["one", "one", "two", "three", "four", "three"]
print(df2)

                   A         B         C         D      E
2013-01-01  0.868041  0.765521  1.203896 -0.289534    one
2013-01-02 -1.355337 -1.505254  1.107716  0.290962    one
2013-01-03  0.696928 -0.975911  0.552442 -0.456752    two
2013-01-04  1.562931  0.146626  1.408109 -0.360058  three
2013-01-05  1.271892  0.700961  0.827734  0.866680   four
2013-01-06  0.938209  0.977442 -0.648565  0.568262  three

In [43]:
print(df2[df2["E"].isin(["two", "four"])])

                   A         B         C         D     E
2013-01-03  0.696928 -0.975911  0.552442 -0.456752   two
2013-01-05  1.271892  0.700961  0.827734  0.866680  four

# Setting

Setting a new column automatically aligns the data by the indexes:

In [46]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20130102", periods=6))
print(s1)
df["F"] = s1
print(df)

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64
                   A         B         C         D    F
2013-01-01  0.868041  0.765521  1.203896 -0.289534  NaN
2013-01-02 -1.355337 -1.505254  1.107716  0.290962  1.0
2013-01-03  0.696928 -0.975911  0.552442 -0.456752  2.0
2013-01-04  1.562931  0.146626  1.408109 -0.360058  3.0
2013-01-05  1.271892  0.700961  0.827734  0.866680  4.0
2013-01-06  0.938209  0.977442 -0.648565  0.568262  5.0

Setting values by label:

In [47]:
df.at[dates[0], "A"] = 0

Setting values by position:

In [48]:
df.iat[0, 1] = 0

Setting by assigning with a NumPy array:

In [49]:
df.loc[:, "D"] = np.array([5] * len(df))

The result of the prior setting operations:

In [50]:
print(df)

                   A         B         C    D    F
2013-01-01  0.000000  0.000000  1.203896  5.0  NaN
2013-01-02 -1.355337 -1.505254  1.107716  5.0  1.0
2013-01-03  0.696928 -0.975911  0.552442  5.0  2.0
2013-01-04  1.562931  0.146626  1.408109  5.0  3.0
2013-01-05  1.271892  0.700961  0.827734  5.0  4.0
2013-01-06  0.938209  0.977442 -0.648565  5.0  5.0

A `where` operation with setting:

In [51]:
df2 = df.copy()
df2[df2 > 0] = -df2
print(df2)

                   A         B         C    D    F
2013-01-01  0.000000  0.000000 -1.203896 -5.0  NaN
2013-01-02 -1.355337 -1.505254 -1.107716 -5.0 -1.0
2013-01-03 -0.696928 -0.975911 -0.552442 -5.0 -2.0
2013-01-04 -1.562931 -0.146626 -1.408109 -5.0 -3.0
2013-01-05 -1.271892 -0.700961 -0.827734 -5.0 -4.0
2013-01-06 -0.938209 -0.977442 -0.648565 -5.0 -5.0

# Missing data
For NumPy data types, `np.nan` represents missing data. It is by default not included in computations. See the [Missing Data](https://pandas.pydata.org/docs/user_guide/missing_data.html#missing-data) section.

Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data:

In [52]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])
df1.loc[dates[0] : dates[1], "E"] = 1
print(df1)

                   A         B         C    D    F    E
2013-01-01  0.000000  0.000000  1.203896  5.0  NaN  1.0
2013-01-02 -1.355337 -1.505254  1.107716  5.0  1.0  1.0
2013-01-03  0.696928 -0.975911  0.552442  5.0  2.0  NaN
2013-01-04  1.562931  0.146626  1.408109  5.0  3.0  NaN

`DataFrame.dropna()` drops any rows that have missing data:

In [53]:
df1.dropna(how="any")

                   A         B         C    D    F    E
2013-01-02 -1.355337 -1.505254  1.107716  5.0  1.0  1.0

`DataFrame.fillna()` fills missing data:

In [54]:
df1.fillna(value=5)

                   A         B         C    D    F    E
2013-01-01  0.000000  0.000000  1.203896  5.0  5.0  1.0
2013-01-02 -1.355337 -1.505254  1.107716  5.0  1.0  1.0
2013-01-03  0.696928 -0.975911  0.552442  5.0  2.0  5.0
2013-01-04  1.562931  0.146626  1.408109  5.0  3.0  5.0

`isna()` gets the boolean mask where values are nan:

In [57]:
print(df1)
print(pd.isna(df1))

                   A         B         C    D    F    E
2013-01-01  0.000000  0.000000  1.203896  5.0  NaN  1.0
2013-01-02 -1.355337 -1.505254  1.107716  5.0  1.0  1.0
2013-01-03  0.696928 -0.975911  0.552442  5.0  2.0  NaN
2013-01-04  1.562931  0.146626  1.408109  5.0  3.0  NaN
                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True